@import "criminals.css";
@import "witness.css";
@import "alibi.css";
@import "notes.css";

body {
    font-family: sans-serif;
    /* display: flex; */
    flex-wrap: wrap;
    background-color: white;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center; 
    justify-content: space-evenly;  
    align-items: center;
    color: midnightblue;
    margin: 40px 80px;
}

.filter {
    font-family: sans-serif;
    padding-top: 20px;
}





